
<app-menu></app-menu>
<article>
<div *ngFor="let p of mesproduit ">
            <div>
                <img  [src]=p.image alt="mac" />
              {{p.name}}
             <button [routerLink]="['/produits',p.id]" class="btn btn-primary">Info</button>
             <a [routerLink]="['/modifier']"><button class="btn btn-warning ml-4">Edit </button></a>
             <button class="btn btn-danger ml-4" (click)="Delete(p.id)" >Supprimer </button>
            </div>
          </div>
</article>
<article>
    <div class="row">
       <div class="col-sm-4">
          <div>
             <div class="hovereffect">
                  <img class="img" [src]=img alt="mac"/>
                  <div class="overlay">
                     <p>Craquez pour les Rouges à Lèvres, véritables symboles si
                        chers à l'univers de M·A·C. Osez diversifier
                        vos looks et vos envies de beauté, révélez et sublimez 
                        votre personnalité avec cette ultime touche de féminité.
                     </p>
                   </div>
             </div>
           </div>
          </div>
      <div class="col-sm-4">
        <div>
         <div class="hovereffect">
          <img class="img" [src]=img2 alt="mac"/>
            <div class="overlay">
              <p>Looking for some professional-quality,
                 cruelty-free makeup brush sets? Look no further!
                  The brush sets from BH Cosmetics give you the tools you need 
                  to create even the most complex of looks. These professional 
                  brushes are fully vegan, with a blend of synthetic bristles that are easy to clean.
              </p>
            </div>
          </div>
         </div>
       </div>
        <div class="col-sm-4">
          <div>
            <div class="hovereffect">
               <img class="img" [src]=img3 alt="mac"/>
               <div class="overlay">
                 <p>Enjoy a show-stopping array of different shadow shades and finishes with the
                    high pigment eyeshadow palettes from BH Cosmetics. With 16,
                    35, and 42 color shadow palettes, your options are endless when it
                     comes to mixing and matching different shades.
                  </p>
                </div>
            </div>
          </div>
       </div>
</div>
</article>

