<h1>Détail Produit {{produit.name}}</h1>
<ul class="list-group">
    <li class="list-group-item" style="font-weight: bold;">ID: {{produit.id}}</li>
    <li class="list-group-item">Marque: {{produit.lib}}</li>
    <li class="list-group-item">Nom: {{produit.name}}</li>    
    <li class="list-group-item">Prix: {{produit.prix}} Dt</li>
    <li class="list-group-item">Date de fabrication: {{produit.date}}</li>
    <li class="list-group-item"><input type="checkbox" disabled [checked]="mesproduit.def">Expert</li>
</ul>
<button class="btn btn-primary" (click)="onListproduits()">Retour</button>
