#di{background-color:rgba(242, 219, 196, 1);
   text-align: center;
margin-top:10px}

  
  .anim{
  text-align: center;
  font-size: 100px;
  color:palevioletred;
  }
  span {
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 5s 5s both;
    animation-iteration-count: infinite;
  }
  
  span:nth-child(){
    animation-name: smoky-mirror;
    animation-iteration-count: infinite;
  }
  
  @keyframes smoky {
    0% {
      text-shadow: 0 0 40px whitesmoke;
    }
    50% {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
    0% {
      text-shadow: 0 0 40px whitesmoke;
    }
  }
  
  @keyframes smoky-mirror {
    0% {
      text-shadow: 0 0 40px whitesmoke; 
    }
    50% {
      text-shadow: 0 0 40px whitesmoke; 
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }

    100% {
      text-shadow: 0 0 40px whitesmoke; 
    }

  }
  
  
  @keyframes AutoSlide {
    0% {
      left: 0px; 
    }
    
    35% {
      left: -150px; 
    }
    50% {
      left: -150px; 
    }
    70% {
      left: -300px; 
    }
    85% {
      left: -300px; 
    }
    100% {
      left: 0px; 
    }
  }

  @keyframes AutoSlide {
    0%, 15%, 100% {
      left: 0px; 
    }
    35%, 50% {
      left: -150px;
    }
    70%, 85% {
      left: -300px; 
    }
  }
  img{width: 500px;
    height: 500px;
    display: inline-block;}
    
  #slideshow {
    position: relative;
    width:1500px;
    height:500px;
    margin-left:0;
    overflow: hidden;
  }
  

  #sContent{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin: 0;            
    padding: 0;
    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  #Content{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin-left: 450px;            
    padding: 0;
    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  #ssContent{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin-left: 950px;            
    padding: 0;
    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  